.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff9800;
  font-family: 'Segoe UI',
    sans-serif;
  padding: 10px 20px;
  color: white;
}

.navbar .logo {
  font-weight: bold;
  font-size: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links li a:hover {
  text-decoration: underline;
}